.row{
    display:flex;
    justify-content: space-between;
    color:#00939f;
    margin-bottom: 10px  ;

}

.dadospessoa{

padding: 30px 40px;

}
.separar{
margin-top: 30px;

}
.dadospessoa p{
    line-height: 28px;
}
.dadospessoa:hover{
    background: #f1f0f0;
    border:1px solid #ddd;
    box-shadow:3px 2px 4px 0 rgba(78,78,78,0.1);
}
.borda{
    border:1px solid #ddd;
}