.buscador{
    display: grid;
    grid-template-columns: 1fr minmax(110px, 230px);
    column-gap: 15px;
    background: #F5F5F5;
    max-width: 910px;
    border-radius: 5px;
    border: 1px solid #dddddd;
    padding: 30px 30px;
    margin: 20px 0;
    align-items: center;
    box-shadow: 3px 2px 4px 0px rgba(78, 78, 78, 0.1);
}
.buscador select{
    height: 50px;
    padding: 0 10px;
    border-radius: 5px;    
}
.buscador option{
    border: 1px solid #ddd;
}

.buscador select:focus{ 
    outline-color: #00939F;
}

.buscador select:hover{ 
    outline-color: #00939F;
}


@media(max-width: 600px){
  .buscador{
      grid-template-columns: 1fr;
      gap: 10px;
  }
}
