.selecionarPaciente{
    display: flex;
    flex-direction: column;

  }
  .pacienteSelecionado{
    display: grid;
    grid-template-columns: 80px 1fr 1fr;
    grid-gap: 20px;
    background: #fff;
    padding: 30px;
    border: 1px solid #ddd;
    margin-bottom:20px ;    
    align-items: center;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    border-radius: 5px;
  }
.pacienteSelecionado a{
    text-align: right;
    color: #016294;
    font-size: 1.2rem;
    font-weight: bold;
    text-transform: uppercase;
}
.pacienteSelecionado a:hover{
  text-decoration: none;
  opacity: 0.7;
}
.pacienteSelecionado h2{
  color: #016294;
}
.pacienteSelecionado h2 span{
  font-size: 0.875rem;
  font-weight: normal;
}
  .addPaciente{
    padding: 40px;
    border: 1px solid #ddd;
  }
  .addPaciente:hover{
    border: 2px dashed #86B300; 
    transition: .05s;
    background: #eee;

  }
  .addPaciente h2 a{
      text-transform: uppercase;
      font-size: 0.875em;
      color: #86B300;
  }
  .pacienteSelecionado img{
    width: 80px;
    height: 80px;
    border-radius: 50%;
  }
  